<div class="main">

  <div class="main-container">
    <div class="selection-cont">
      <select  [(ngModel)]="from" >
        <!--        <option  disabled selected="selected" >Euro</option>-->
        <option  *ngFor="let user of currjson" value="{{ user.symbol }}">{{ user.symbol }}</option>

      </select>
      <p>to</p>
      <select [(ngModel)]="to">
        <!--      <option selected="selected" ></option>-->
        <option  *ngFor="let user of currjson" value="{{ user.symbol }}" >{{ user.symbol }}</option>
      </select>
    </div>

    <div class="amount">
      <p class="p">Amount</p>

      <input type="text" [(ngModel)]="amount">

    </div>



    <button type="submit" (click)="convert()">Submit</button>



    <div class="result-container">
      <p>{{ converted?.result?.convertedAmount }}</p>
    </div>


  </div>



  </div>

